.controls {
  width: 90%;
  margin: 2em auto;
}

.graph-menu {
  margin: 2em auto;
  padding: 1em;
}

.data-point-line-type {
  select {
    width: 30%;
    margin-right: 1rem;
  }
}

.data-point-checkbox input {
  margin-bottom: 0;
}

.data-point {
  input {
    margin-bottom: 0;
  }

  select {
    margin-bottom: 0;
  }
}
