body {
  color: nth($colors, 5);
  background: url(../images/halftone.png) repeat;
}

header {
  padding: 1rem;

  h1 {
    color: nth($colors, 1);
    margin-top: 1rem;
    text-align: center;
  }

  i {
    margin-right: 1rem;
  }
}

.button-group {
  text-align: center;

  &.round li {
    float: none;
    display: inline-block;

    .small {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.infoWrapper {
  margin: 15px;
  display: block;

  section {
    width: 50%;
    padding: 10px;
    float: left;
  }

  blockquote {
    border: none;
    margin-top: 25px;
  }

  legend {
    margin-top: 10px;
  }
}