.projects {
  margin: 50px 5px 0 5px;
}

.projects .projects-existing,
.projects .projects-projected {
  width: 50%;
  float: left;

  h2 {
    color: nth($colors, 1);
  }

  ul {
    margin-left: 0;
  }
}

.project {
  position: relative;
  background-color: transparentize(nth($colors, 3), 0.75);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ccc;
  padding: 10px;
  width: 90%;

  dl {
    @include legacy-pie-clearfix;
    width: 80%;
  }

  dt {
    width: 30%;
  }

  dt, dd {
    float: left;
  }

  dd {
    background-color: transparentize(#fff, 0.65);
    padding-left: 5px;
    width: 25%;
    margin-right: 45%;
    border-radius: 2px;
  }

  button {
    position: absolute;
    bottom: 10px;
    right: 30px;
  }
}