.projects {
  @include legacy-pie-clearfix;
  margin: 50px 5px 0 5px;
}

.projects .projects-existing,
.projects .projects-projected {
  width: 50%;
  float: left;

  h2 {
    color: nth($colors, 1);
    margin-left: 6.5%;
  }

  ul {
    margin-left: 0;
  }
}

.project {
  position: relative;
  background-color: transparentize(nth($colors, 3), 0.75);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #ccc;
  padding: 10px 10px 50px 10px;
  margin-right: 5%;
  margin-left: 5%;
  margin-bottom: 25px;


  .type {
    position: absolute;
    top: 10px;
    right: 15px;
    border-radius: 5px;

    padding: 0px 5px;
    color: #fff;
    font-weight: bold;

    &[ng-class=Solar],
    &.solar {
      background-color: lighten($solarColor, 15%);
    }

    &[ng-class=Wind],
    &.wind {
      background-color: lighten($windColor, 25%);
    }
  }

  dl {
    @include legacy-pie-clearfix;
    width: 80%;
  }

  dt {
    width: 30%;
  }

  dt, dd {
    float: left;
  }

  dd {
    background-color: transparentize(#fff, 0.65);
    padding-left: 5px;
    width: 65%;
    border-radius: 2px;
  }

  button {
    position: absolute;
    bottom: -5px;
    right: 15px;
  }
}