<!doctype html>
<html ng-app="app">
	<head>
		<title></title>
		<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.css">
		<link rel="stylesheet" href="css/site.css">
	</head>
	<body>
    <header>
      <h1><i class="fa fa-area-chart"></i>Pan-dAng-ular</h1>
    </header>

		<div ng-controller="controlsController" class="controls">
			<div id="graph-main" chart="chart" data="data" graph></div>

      <div class="projects" chart="chart" data="data" menu>
        <section class="projects-existing">
          <h2>Active Energy Projects</h2>
          <ul>
            <li class="project" ng-repeat="event in events.Solar.concat(events.Wind)">
              <h3>{{ event.name }}</h3>
	            <span class="type" ng-class="{{ event.type }}">{{ event.type }}</span>
              <p>{{ event.description }}</p>
              <dl>
                <dt>Location</dt>
                <dd>{{ event.location }}</dd>
                <dt>Power Generated</dt>
                <dd>{{ event.btuDelta }}</dd>
                <dt>Year</dt>
                <dd>{{ event.date }}</dd>
              </dl>
              <button ng-click="removeEvent(event)">Remove</button>
            </li>
          </ul>

        </section>

        <section class="projects-projected">
          <h2>Potential Enery Projects</h2>
          <ul>
            <li class="project">
              <h3>Deerfield Wind</h3>
      	      <span class="type wind">Wind</span>
              <p>Deerfield Wind is a project... </p>

              <dl ng-init="deer_date = 2027">
                <dt>Location</dt>
                <dd>Deerfield</dd>
                <dt>Power Generated</dt>
                <dd>30 mwh</dd>
                <dt>Year</dt>
                <dd><input type="number" ng-model="deer_date"></dd>
              </dl>
              <button ng-click="addProject('Wind', 10, deer_date, 'Deerfield', 'Deerfield Wind')">Show In Projection</button>
            </li>
            <li class="project">
              <h3>TriLand Williamstown Solar Farm</h3>
	            <span class="type solar">Solar</span>
              <p>TriLand Williamstown Solar Farm is a project... </p>
              <dl ng-init="wil_date = 2017">
                <dt>Location</dt>
                <dd>Williamstown</dd>
                <dt>Power Generated</dt>
                <dd>10 mwh</dd>
                <dt>Year</dt>
                <dd><input type="number" ng-model="wil_date"></dd>
                <dt>Est. Investment</dt>
                <dd>$10m</dd>
                <dt>Number of Panels</dt>
                <dd>&gt; 9,000</dd>
              </dl>
              <button ng-click="addProject('Solar', 5, wil_date, 'Williamstown', 'TriLand Williamstown Solar Farm')">Show In Projection</button>
            </li>
          </ul>
        </section>
      </div>
		</div>

    <div class="row" style="margin-top: 100vh;">
        <h2>How It Works</h2>
        <blockquote>
            <h3>1</h3>
            <h4>Choose a new energy project template based on existing solutions.</h4>

            <h3>2</h3>
            <h4>Watch the future projections shift in real-time.</h4>

            <h3>3</h3>
            <h4>Track your energy milestones.</h4>
        </blockquote>
    </div>
    <div class="row" style=" ">
        <h2></h2>
        <blockquote>
            <section style=" position: relative; background-image: url(http://pictures.dealer.com/d/ddcsite/1138/dba9cf720a0d02b70064dfebd694a945.jpg); width: 40em; height: 20em; background-size: 100%; background-color: none;">

                <div style=" text-align: center;width: 100%; height: 10em; background-color: rgba(128,128,192,0.7) ; top: 0; position: absolute">
                    <h1 style="color: white; letter-spacing: 1px;">Project plan with <em>actual</em> reported metrics.</h1>
                </div>
            </section>
        </blockquote>
    </div>
    <div class="row" style=" ">
        <h2>Data Sources</h2>
        <blockquote>
            <fieldset>
                <legend>HackVT > Energy > Consumption</legend>
                <ol>
                    <li>Green Mountain Power wind farm located in Lowell, VT</li>
                    <li>Green Mountain Power hydro generation site sits just downstream from the Winooski dam located in Essex Junction VT.</li>
                    <li>Draker, Dealer.com Large-scale Solar Arrays</li>
                </ol>
            </fieldset>

            <fieldset>
                <legend><img src=http://www.eia.gov/global/images/logos/eia_logo.jpg></legend>
                <h5>State Energy Data System (SEDS): 1960-2012 <small>[Released Jun2014]</small></h5>
                <ol>

                    <li>Vermont Yankee Nuclear Production</li>
                    <li>Solar, Biodiesel, Hydro, Wind production output intervals for Vermont added to MongoDB time series and recompiled for unified charting/analysis</li>
                    <li>Fifty-two year trend used with linear regression to project out to 2050</li>
                </ol>
            </fieldset>
        </blockquote>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.12/d3.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.3.0/c3.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore.js"></script>
		<script type="text/javascript" src="js/app.js"></script>

		<a class="fork" href="https://github.com/justinryder/PandAngular" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
	</body>
</html>